/* 京东首页的CSS */
.jd {
    height: 480px;
    position: relative;
}

.jd-inner {
    height: 480px;
    position: relative;
    z-index: 1;
}
.jd .ad {
    height: 480px;
    background: url(../images/ad.png) no-repeat top center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.jd .ad a {
    display: block;
    width: 100%;
    height: 100%;
}

.jd-inner .jd-clo1 {
    width: 190px;
    height: 465px;
    background-color: #6e6568;
    float: left;
    padding-top: 15px;
}

.jd-inner .jd-clo1 li {
    padding-left: 10px;
    height: 28px;
    line-height: 28px;
}

.jd-inner .jd-clo1 li:hover {
    background-color: #999395;
}

.jd-inner .jd-clo1 li a{
    font-size: 14px;
    color: #ffffff;
}

.jd-inner .jd-clo1 li a:hover{
    color: #f10215;
}

.jd-inner .jd-clo1 li span{
    font-size: 12px;
    color: #ffffff;
}

.jd-inner .jd-clo2 {
    width: 790px;
    height: 480px;
    float: left;
    margin-left: 10px;
}

.jd-clo2 .jd-clo2-hd {
    height: 340px;
    background-color: #fff;
    position: relative;
}

.jd-clo2 .jd-clo2-hd ol {
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -90px;
    width: 180px;
    height: 20px;
    background: rgba(255,255,255,.3);
    border-radius: 10px;
}

.jd-clo2-hd ol li {
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 50%;
    float: left;
    margin: 3px 5px;
}

.jd-clo2-hd .current {
    background-color: #f10215;
}

.jd-clo2 .jd-clo2-bd {
    margin-top: 10px;
}

.jd-clo2 .jd-clo2-bd .lf {
    margin-right: 10px;
}

.jd-clo2 .jd-clo2-bd div {
    width: 390px;
    height: 130px;
    float: left;
}
.jd-clo2 .jd-clo2-bd div img {
    width: 100%;
}

.jd-clo2 .arr-l ,.jd-clo2 .arr-r{
    position: absolute;
    top: 50%;
    margin-top: -30px;
    width: 30px;
    height: 60px;
    background: rgba(0,0,0,.4);
    font-family: "icomoon";
    text-align: center;
    line-height: 60px;
    font-size: 25px;
    color: #eeeeee;
}
.jd-clo2 .arr-l {
    left: 0;
}
.jd-clo2 .arr-r{
    right: 0;
}
.jd-inner .jd-clo3 {
    width: 190px;
    height: 480px;
    float: right;
}

.jd-clo3 .user {
    height: 94px;
    background-color: #fff;
    padding: 20px 15px 0;
}

.user .user-info {
    position: relative;
}

.user .user-info .hi {
    height: 40px;
    padding-left: 50px;
    font-size: 12px;
    color: #747474;
    line-height: 22px; 
}

.user .user-info a {
    font-size: 12px;
    color: #747474;
}
.user .user-info a:hover {
    color: #f10215;
}

.user-info .info-img {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    overflow: hidden;
}
.info-img img {
    width: 100%;
}
.user-profit {
    margin-top: 14px;
}
.user-profit a {
    width: 70px;
    height: 20px;
    border: 2px solid #f10215;
    display: inline-block;
    font-size: 12px;
    color: #f10215;
    text-align: center;
    line-height: 20px;
    margin-right: 3px;
}
.user-profit a:hover {
    background-color: #f10215;
    color: #ffffff;
}


.jd-clo3 .news {
    height: 149px;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    padding: 5px 15px 0;
    background-color: #fff;
}

.tab-hd {
    border-bottom: 1px solid #ccc;
    padding: 3px 0;
    position: relative;
}
.tab-hd a {
    font-size: 12px;
    color: #747474;
    margin: 0 4px;
}

.cuxiao {
    border-right: 1px solid #ccc;
    padding-right: 10px;
}

.tab-hd .more {
    position: absolute;
    right: 0;
    top: 7px;
}

.line {
    width: 28px;
    height: 2px;
    background-color: #f10215;
    position: absolute;
    bottom: -1px;
    left: 0;
}

.tab-bd a {
    font-size: 12px;
    color: #747474;
}
.tab-bd a:hover {
    color: #f10215;
}
.tab-bd {
    margin-top: 10px;
}
.tab-bd li {
    height: 23px;
    line-height: 23px;
}
.jd-clo3 .ser {
    height: 209px;
    overflow: hidden;
}
.jd-clo3 .ser ul {
    width: 192px;
}

.jd-clo3 .ser li {
    width: 47px;
    height: 69px;
    float: left;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.jd-clo3 .ser a {
    width: 100%;
    height: 100%;
    display: block;
    font-size: 12px;
    color: #747474;
}
.jd-clo3 .ser i {
    display: block;
    width: 24px;
    height: 24px;
    margin: 15px auto 8px;
    background: url(../images/sprite_fs@1x.png) no-repeat 0 0;
}
.jd-clo3 .ser p {
    text-align: center;
}